.App {
    text-align: center;
  }
  
  .App-logo {
    height: 40vmin;
    pointer-events: none;
  }
  
  @media (prefers-reduced-motion: no-preference) {
    .App-logo {
      animation: App-logo-spin infinite 20s linear;
    }
  }
  
  .App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }
  
  .App-link {
    color: #61dafb;
  }
  
  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  #containere{
    margin-left: 279px;
  }
  li .nav-link:hover {
    background-color: #E91E63 !important; 
  }
  li .nav-link:focus {
    background-color: #E91E63 !important; 
  }
  #prev{
    margin-left: 321px;
    border-radius: 8px;
    border: 1px ridge #E91E63;
    color: #E91E63;
  }
  #next{
    margin-right: 76px;
    border-radius: 8px;
    border: 1px ridge #E91E63;
    color: #E91E63;
  }
  #contai{
    margin-top: -57px;
  }
  #btn-admin{
    height: 42px;
  }
  
  
  